* {
    margin: 0;
    padding: 0;
}

.container-all {
    max-width: 2560px;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
    color: #DA33FF;
}

.section__produits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
        &__camera {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 400px;
            border-radius: 20px;
            background: rgba(243, 233, 241);
            margin-bottom: 20px;
            margin-right: 15px;
        }
}

.section__produits__camera__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_produits_camera__name {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description__text {
    text-align: center;
    margin-bottom: 10px;
}

