* {
    margin: 0;
    padding: 0;
}

.container-all {
    max-width: 2560px;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
    color: #DA33FF;
}

.section__produits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
        &__camera {
            width: 400px;
            height: 350px;
            border-radius: 20px;
            background: rgba(243, 233, 241);
            margin-bottom: 20px;
        }
    
}
