.w-full {
    width: 100%;
}

.p-4 {
    padding: 0rem;
}

.mt-4 {
    margin-top: 1rem;
}

.items-stretch {
    align-items: stretch;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-oniPink {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 233, 241, var(--tw-bg-opacity));
}

.w-full {
    width: 100%;
}

.mr-4 {
    margin-right: 1rem;
}

.h-full {
    height: 100%;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded {
    border-radius: 0.25rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img {
    border-style: solid;
}

.items-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mt-8 {
    margin-top: 2rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.font-bold {
    font-weight: 700;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.text-opacity-80 {
    --tw-text-opacity: 0.8;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-justify {
    text-align: justify;
}

.mt-4 {
    margin-top: 1rem;
}

.flex-grow {
    flex-grow: 1;
}

.mt-4 {
    margin-top: 1rem;
}

.font-bold {
    font-weight: 700;
}

.gap-4 {
    gap: 1rem;
}

.w-full {
    width: 100%;
}

.mt-4 {
    margin-top: 1rem;
}

.grid {
    display: grid;
}

.w-full {
    width: 100%;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255);
    background-color: orange;
}

.text-center {
    text-align: center;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.font-bold {
    font-weight: 700;
}

.rounded {
    border-radius: 0.25rem;
}

#addToCart:hover {
    color: #DA33FF;
}