/*Header*/ 

header {
    margin-bottom: 20px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(243, 233, 241);
    max-width: 100%;
    padding: 20px 20px;
}