/*Header*/ 

header {
    margin-bottom: 20px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(243, 233, 241);
    max-width: 100%;
    padding: 20px 20px;
    h1, h2 {
        font-family: 'Roboto Mono', monospace;
        font-family: 'RocknRoll One', sans-serif;
    }
}

.fa-shopping-cart:before {
    content: "\f07a";
    color: #DA33FF;
}